---
layout: default
---

<div class="">
    {% if page.image %}
    <div class="mb-8 -mx-6 md:mx-0">
        <img src="{{ page.image }}" alt="{{ page.title }}">
    </div>
    {% endif %}
    <div class="lg:flex">
        <div class="article-body w-full md:pl-20 lg:pl-32">
            <h1 id="article-title" class="font-sans font-bold text-4xl md:text-5xl text-blue-700 mb-3 leading-snug">{{ page.title }}</h1>
            {% if page.date %}
            <div class="text-blue-400 mb-6">{{ page.date | date_to_string }}
                <span class="inline-block mx-3 text-blue-200">&bull;</span>
                {% assign page_words = page.content | split: " " %}{{ page_words.size | divided_by: 200.0 | ceil }} minute read
                <span class="inline-block mx-3 text-blue-200">&bull;</span>
                <a href="https://twitter.com/intent/tweet?text={{ page.title }} {{ site.url }}{{ page.url }}">Share on Twitter</a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="lg:flex">
        <div class="article-body w-full sm:w-9/12 md:w-9/12 md:pl-20 lg:w-7/12 lg:pl-32">
            <div class="article-content text-lg">
                {{ content}}
            </div>
        </div>
        <div class="article-sidebar pl-0 md:pl-20 lg:pl-32 xl:pl-56 mt-4">
            Sidebar content
        </div>
    </div>
</div>
