<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/dist/app.css' | relative_url }}?v={{ site.css_hash }}">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
              new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-54W7VFH');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="bg-white">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-54W7VFH"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
    <header class="py-4">
      <div class="container mx-auto px-6 font-mono flex items-center justify-center">
        <div class="flex-1">
            <!-- Categories here one day -->
        </div>
        <div class="flex-1 text-xl text-center px-8">
          <a class="inline-block bg-blue-800 text-white py-0 px-4" href="/">Matt Watson</a>
        </div>
        <div class="flex-1">
          <ul class="hidden md:flex justify-end text-gray-700 items-center">
            {% for item in site.data.nav %}
            <li class="ml-6"><a href="{% link {{ item.page }} %}" class="{% if page.path == item.page %} underline {% endif %}">{{ item.label }}</a></li>
            {% endfor %}
            {% include social.html %}
          </ul>
        </div>
      </div>
    </header>
    <div class="container mx-auto my-4 px-6">
      {{ content }}
    </div>
    <footer class="bg-blue-900 mt-24 text-white text-sm">
      <div class="container mx-auto px-6 py-12">
        <div class="md:flex justify-between">
          <div class="mb-6 text-center md:text-left">Copyright &copy; {{ 'now' | date: "%Y" }} Matthew Watson</div>
          <div>
              <ul class="flex justify-center md:justify-end items-center">
                  {% include social.html %}
              </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="{{ '/dist/app.js' | relative_url }}?v={{ site.js_hash }}" type="text/javascript"></script>
  </body>
</html>
